<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html lang="en">
  <head>
	<title>Listee</title>
    <link rel="stylesheet" type="text/css" href="../static/css/colored_boxes.css">
  </head>

<body>

<div class="list">
Hi {{ data["username"][0] }}<br><br>
List of things you need:
 <ul id="data_store">
    {% for item in data["needs"] %}
        <li>{{ item[0] }}</li>
    {% endfor %}
 </ul>
</div>

<div class="list">
List of things you bought, how much you spent in USD
 <ul id="data_store">
    {% for item in data["purchases"] %}
        <li>{{ "{0}, ${1}".format(item[0], item[1]) }}</li>
    {% endfor %}
</ul><br>
Total spent: ${{ data["outlays"] }}
</div>

<noscript> Hi. If you can see this, then you don't have javascript. You should just give up on this page and read Neuromancer: <a href="http://project.cyberpunk.ru/idb/neuromancer.html">http://project.cyberpunk.ru/idb/neuromancer.html</a></noscript>

<div class="form">
<form name="add" action="/add_item/" method="POST">
	Item to add to list: <input name="item" type="text" />
	Requestor: <input name="email" type="text" value = {{ data["email"] }} />
   <input type="submit" />
</form>
</div>

<div class="form">
<form name="purchase" action="/log_purchase/" method="POST">
	Item you bought: <input name="item" type="text" /><br>
	How much you spent on this item in USD: $<input name="price" type="text" /><br>
	Purchasor: <input name="email" type="text" value = {{ data["email"] }} />
   <input type="submit" />
</form>
</div>

</body>
</html>
