<!doctype html> <!--doctype declaration "this is [the most recent version of] html file!"-->


<html lang="en">

	<head>
		<link href="style.css" rel="stylesheet"> <!--contains 2 attributes href and rel-->
			<!-- 'rel' stands for 'relation', tells the browser what to do with the link -->
			

		<title> listee</title>
		<!--Inside the head element -->
	</head> <!--provides information - name, RSS, author, what other files u need-->

	<body>
		<h1 style ="color: green;">LIST OF THings You need</h1> <!-- that style attribute will overrule your CSS -->
		
		<h1 class="important another_class">LIST of things you bought </h1> <!-- class name is how you can specify something across tags, that's 2 classes in there -->
		
	</body>

</html> <!--tags come together to form ELEMENTs !!-->
