<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html lang="en">
  <head>
	<title>Create Account</title>
    <link rel="stylesheet" type="text/css" href="../static/css/colored_boxes.css">
  </head>

<body>

You entered {{ data["email"][0] }} as your email address, but we don't have any accounts using that email address. 

Try again:
<div class="form">
<form name="login" action="/login_test/" method="POST">
	Email address: <input name="email" type="text"/><br>
	Password: <input name="password" type="text" />
   <input type="submit" />
</form></div>

<h1>Or, if you don't have an account make one:</h1>
<div class="form">
<form name="login" action="/login_create/" method="POST">
	Choose your username: <input name="username" type="text" /><br>
	Choose your Password: <input name="password1" type="text" /><br>
	Quiz! What is your password?: <input name="password2" type="text" /><br>
	What is your email addy? <input name="email" type="text" /><br> 
   <input type="submit" />
</form>
</div>

</body>
</html>
